@use "./Colors.scss" as *;
@use "./Fonts.scss" as *;

.Header {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: $Green;
    font-family: "Sora";
    color: $AshGray;
    border-bottom-left-radius: 100px;
    
    .Contempt {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 10px;
        padding-left: 50px;
        padding-right: 50px;
        border-bottom-left-radius: 100px;
        background-color: $Black;
       
        border-bottom-right-radius: 400px;

      
      

        .Logo {
            margin-right: auto;
            width: 100px;
            weight: 100px;
        }
        .Contact {
            color: $AshGray;
            padding-right: 50px;
            text-decoration: none;
        }
        
        .About {
            padding-right: 50px;
        }

        .Projects {
            padding-right: 50px;
        }
    }
}
