.Header {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: rgb(151, 28, 28);
    .Contempt{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: aqua;
        .Logo{
           
            
        }
        .Contact {
    
        }
        
        .Projects {
        
        }
    }
    
  

}




