@use "./Colors.scss" as *;
@use "./Fonts.scss" as *;

.Header {
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    border-bottom-left-radius: 100px;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.5s;
    
}
.Header-scrolled{
    background-color: $Black;
}
.Content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    padding-bottom: 10px;
    border-bottom-left-radius: 100px;
    background-color: transparent;
    border-bottom-right-radius: 400px;
}

.Logo {
    margin-right: auto;
    padding-left: 50px;
    max-width: 100px;
    max-height: 80px;
    width: 100%;
    height: 100%;
}

.Contact {
    font-size: 30px;
    color: $AshGray;
    text-decoration: none;
    margin-right: 62px;
}

.Contact::after {
    content: "";
    background-color: $Green;
    width: 0px;

    height: 3px;
    max-height: 3px;
    display: block;
    margin: auto;
    transition: 0.3s;
}

.Contact:hover {
    color: $Green;
}

.Contact:hover::after {
    
    width: 100%;
}

.About {
    font-size: 30px;
    color: $AshGray;
    margin-right: 62px;
}

.About::after {
    content: "";
    background-color: $Green;
    width: 0px;
    height: 3px;
    display: block;
    margin: auto;
    transition: 0.3s;
}

.About:hover {
    color: $Green;
}

.About:hover::after {
    width: 100%;
}

.DropDownWrapper {
   
    @include Full-Screen();

    .Overlay {
        
        display: flex;
        justify-content: flex-end;
        padding-top: 90px;
        width: 100vw !important;
        height: 100vh !important;
        background-color: transparent;
    }
}

.NavIcon {
    transition: 1s;
    margin: 25px;
    padding: 0px;
    margin-right: auto;
    color: azure;
    display: flex;
    justify-content: flex-end;

    &.active {
        transform: rotate(90deg);


    }

}


.Projects {
    font-size: 30px;
    display: flex;
    text-decoration: none;
    color: $AshGray;
    margin-right: 38px;

    .Arrow {
        margin-top: 6px;
        display: flex;
        width: 30px;
        height: 25px;
        transform: translateX(8px);
        transition: 0.3s;
    }

    &:hover,
    &.active {
        .Arrow {
            transform: translateX(8px) rotate(90deg);
        }

        color: $Green;
    }


    &.active {
        transform: scale(0.98);
    }

}