@use "./Colors.scss" as *;
@use "./Fonts.scss" as *;



.First-section {
    // background: rgb(0, 98, 21);
    // background: linear-gradient(190deg, rgba(0, 98, 21, 1) 0%, rgba(0, 0, 0, 1) 35%, rgba(0, 0, 0, 1) 66%, rgba(0, 98, 21, 1) 100%);
    background-color: #1d1d1d;
    padding: 0;
    border: 0;
    height: 110vh;
    overflow-x: hidden;

}

.content {
   
    margin-right: 200px;
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
    height: 100vh;

}

.left {
    flex: 4;
}

.right {
    margin-top: 60px;
    position: relative;
    flex: 2;
}


.Title {

    color: $AshGray;
    font-size: 30px;
    margin-top: 300px;
    margin-left: 155px;
}

.Cursor {
    color: $Green;
}

.TypeWriter {
    color: $Green;
}
.Object-3d{
    height: 100vh;
    width: 100%;
    scroll-snap-align: center;
    
}

.pc-image {
    
    width: 600px;
    height: 400px;
    object-fit: contain;
    position: absolute;
    top: 0;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;
    animation: pcanimation 2s infinite ease alternate;
}

@keyframes pcanimation {
    from{
       
        
    }
   
    to {
        transform: translateY(20px);
        
        
    }
}
    .Second-section {
        background-color: #303030;
        margin: 0;
        padding: 0;
        border: 0;
        height: 100vh;
        overflow-x: hidden;

    }


    