@use "./Colors.scss" as *;

.NavItem{
    display: flex;
    color: $AshGray;
    border: 2px solid blueviolet;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    height: 50px;
    width: max;
    margin-top: 5px;
    

}

.NavBar{
    padding-top: 90px;
    z-index: -1;
    width: 150px;
    height: 200vh;
    position: absolute;
    left: -1px;
    top: 0px;
    background-color: black;
    animation: ShowNavBar 1s ease;
    ul{
        list-style: none;
    }
 
    
}

.Icons{
    max-width: 20px;
}
.Button{
    text-decoration: none;
    font-size: 20px;
    color: $Green;
}
.Text{
    font-size: 20px;
    color: $Green;
    text-decoration: none;
}

@keyframes ShowNavBar {

    from{
       
        width: 0%;
    }
    to{
        
        width: 150px;

    }

}